{% extends 'polls/base.html' %}

{% block title %}
Главная
{% endblock %}
{% block bar %}
        <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link active" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="{% url 'created' %}" class="nav-link" aria-current="page">Заполнение анкеты</a>
      </ul>
    </header>
  </div>
{% endblock %}

{% block content %}
    <h1 align="center">Главная</h1>
  <p>Добрый день, уважаемые студенты.

Для получения задания на практику Вам необходимо пройти процедуру распределения по научным руководителям. Данная процедура включает несколько шагов:
<br>1)  Вы внимательно изучаете анкету и отвечаете на вопросы в ней.
<br>2)  По вашим ответам на вопросы анкеты ответственный за распределение по научным руководителям выберет вам научного руководителя с кафедры УИТ на период практики из числа преподавателей, вовлеченных в работу со студентами заочной формы обучения (фамилии преподавателей вы увидите в анкете)
<br>3)  Знакомство с научными руководителями и обсуждение с ними темы работы на период практики
</p>
{% endblock %}